RewriteEngine on

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php [NC]
RewriteRule ^index\.php$ / [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{DOCUMENT_ROOT}/$1.php -f

RewriteRule ^(.*)$ $1.php [L]

<FilesMatch "\.(db|sqlite|sqlite3)$">
    Require all denied
</FilesMatch>
